#ing {
  background-color: blue;
  font-size: 20px;
  position: fixed;
  top: 0;
  z-index: 2147483647;
  color: white;
  /* cursor: pointer; */
}
#cross {
  color: white;
  background-color: red;
  cursor: pointer;
  transition: opacity 1s;
}
#cross:hover {
  opacity: 0.7;
}
